header{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $main-bg-color;
    padding-inline: $side-padding;
    .logo{
      &:hover{
        path{
            transition: fill .3s ease-in;
            fill: #F9B233;
           }
      }
      cursor: pointer;
      &:active{
        transform: scale(.98);
      }
    }
    .header-nav{
        display: flex;
        align-items: center;
        gap: clamp(20px, calc(1rem + 2vw), 40px);

        ul{
            display: flex;
            align-items: center;
            gap: clamp(calc(32px/2), calc(0.5em + 1.2vw), 32px);
        }
    }
}