.popular {
  display: grid;
  gap: 2vw;
@include mobile{
    max-width: fit-content;
}
  .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 2rem;

      .controler {
          display: flex;
          align-items: center;
          gap: 1rem;
        @include mobile{
            display: none;
            gap: 40px;
        }
          
      }
  }

  .content {
      display: flex;
      gap: 20px;
      overflow: hidden;
      scroll-behavior: smooth;
      padding-inline: 2rem;
      @include mobile{
        padding-inline: none;
        max-width: 360px;
        max-height: none;
        display: flex;
        flex-direction: column;
        overflow: visible;
        // justify-content: center;
      }
  }

  a {
      max-width: max-content;
      justify-self: end;
      padding-inline: 2rem;
  }
}
