.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    @include mobile{
        grid-template-columns: 1fr;
        max-width: 375px;
    }
    .services-images{
        display : grid;  
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img{
            grid-column: 1;
            grid-row: 1;
        }
        .chef{
            z-index: 2;
            max-width: 80%;
            transform: translateY(-16px) translateX(35px) rotate(0deg);
        }
        .chef-bg{
            min-width: 100%;
            animation: rotate 40s infinite;
        }
    }
    .aside-content{
        display: flex;
        flex-direction:column;
        gap: 10px;
    @include mobile{
        padding: 1rem 2rem;
    }
        ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include mobile{
                grid-template-columns: 1fr;
            }
            li{
                display: flex;
                align-items: flex-end;
                gap: 5px;
            }
        }
    }
}